<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div>
        
    </div> -->
    <!-- works fine with direct call from mongodb -->
    <div>
        <%-articles[0].title%>
        <img src="<%-articles[0].articleImgPath%>" alt="">
    </div>
</body>
</html>